# Copyright 2025 New Vector Ltd
# Copyright 2025 Element Creations Ltd
#
# SPDX-License-Identifier: AGPL-3.0-only

export TEST_VALUES_FILE=charts/matrix-stack/ci/pytest-matrix-authentication-service-values.yaml
export BUILD_MATRIX_TOOLS=1
